.expanded-div-style {
    background-color: #F7F7FF;
    /* #E9E9E9; */
    Padding: 15px 20px 10px 20px;
    margin: 5px -15px -15px -15px;
}
.text-red {
    color: #cc0000;
}
.accordion-header:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Andrew Dawson CSS*/

.text-centre {
    text-align: center;
}
.sticky {
    background-color: #F7F7FF;
    position: fixed;
    width: 200px;
    right: 0;
    top: 100px;
    z-index: 100;
    border-top: 0;
}
@media screen and (max-width: 768px) {
    .sticky {
        display: none;
    }
    /* hide it elsewhere */
}
.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: black;
    border-color: darkslateblue;
    border: 3.5px;
    border-style: solid;
    vertical-align: middle;
    text-align: center;
    align-content: space-between;
    background: white;
    margin: 0 auto;
}

@media print {
    .container {
    display:none;
  }
}

