/*CVS Health Basic Styles*/

/*Colors*/

/*Reds*/
/*CVS-Red #cc0000
CVS Dark Red #B80000*/

/*Grays*/

/*CVS Ivory #E9E9E9
CVS Light Gray #D1CCCC
CVS Medium Gray #8c8c8c
CVS Dark Gray #646464 */

/*Other*/
/*CVS Blue #B8E3EB*/



/*Body Styles*/

body {
  height: 100%;
  background-color: #ffffff;
  color: #1e1e1e;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Headers and Page Title Styles*/

h1 {
  font-size: 4.5em;
  font-weight: bolder;
}
h2 {
  font-size: 2.75em;
  font-weight: bolder;
}
h3 {
  font-size: 2.25em;
  font-weight: bolder;
}
h4 {
  font-size: 1.5em;
  font-weight: bold;
}
h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 15px;
}
.page-title {
  font-size: 2.75em;
  font-weight: bolder;
  margin-bottom: 25px;
}

/*Links*/

a {
  color: #cc0000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #800000;
  text-decoration: underline;
}

/*Red Button*/

.cvs-btn {
  background-color: #cc0000;
  color: white;
  font-size: 16px;
  text-align: center;
  border-style: none;
  padding: 16px 32px;
  font-weight: bold;
}
.cvs-btn:hover {
  background-color: #d63232;
}
.cvs-btn:focus {
  background-color: #b61f24;
}
.cvs-btn:active {
  background-color: #b61f24;
}
.cvs-btn:disabled {
  background-color: #ffcccc;
}

/*Secondary Button*/

.cvs-btn-2 h4 {
  color: #cc0000;
  font-size: 16px;
}
.cvs-btn-2:hover {
  border: 2px solid #d63232;
  color: #d63232;
}
.cvs-btn-2:focus {
  border: 2px solid #b61f24;
  color: #b61f24;
}
.cvs-btn-2:active {
  border: 2px solid #b61f24;
  color: #b61f24;
}
.cvs-btn-2:disabled {
  border: 2px solid #ffcccc;
  color: #ffcccc;
}

/*hr*/

/*top level hr - strongest divide of content*/

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid #000000;
}

.hr-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #8c8c8c;
}

.hr-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #8c8c8c;
}

/*Main divider Style*/

.hr-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #E9E9E9;
}


