<div class="remember-me-border" ng-show="bccContentController.configuration.ENABLE_EC_OPT_IN">
    <div ng-hide="bccContentController.hideButton">
        <h4><img ng-src="{{bccContentController.cvsHealthIcon}}"/><b>  Never Miss A Deal</b></h4>
        <h5>{{bccContentController.rememberMeText}}</h5>
        <button class="full-width-red-button" ng-click="bccContentController.createRememberMeCookie();" ng-hide="bccContentController.hideButton">
            <strong class="white-text pad-remember-me text-size-uniform">Remember My Card</strong>
        </button>
        <br> <strong class="smaller-font">Not recommended if on a shared device.</strong>
        <br>
        <a ng-click="digitalReceiptLandingController.openHelpModal();digitalReceiptLandingController.helpClick(); ">How it Works ></a>
    </div>
</div>

<div class="bcc panel-body noMobileView" ng-show="bccContentController.hideButton" style="height: 150px;">BCC Area 1.</div>
