<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 nopadding">
                <digital-receipt-landing-directive view-control="landingPageController.primaryViewControl" configuration="landingPageController.configuration.digitalReceiptLanding" coupons-service-data="landingPageController.couponsServiceData" display-progress-bar="landingPageController.displayProgressBar(display, actionedCoupon)" reset-collapse-state-for-all="landingPageController.resetCollapseStateForAll()">
                </digital-receipt-landing-directive>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 nopadding pull-right">
                <bcc-content-directive ng-show="landingPageController.configuration.landingPage.DISPLAY_BCC" class="noMobileView">
                </bcc-content-directive>
            </div>
        </div>
    </div>

    <view-all-coupons-directive view-control="landingPageController.secondaryViewControl" configuration="landingPageController.configuration.viewAllCoupons" coupons-service-data="landingPageController.couponsServiceData" display-progress-bar="landingPageController.displayProgressBar(display, actionedCoupon)" reset-collapse-state-for-all="landingPageController.resetCollapseStateForAll()"></view-all-coupons-directive>
    <br>
    <progress-bar-directive></progress-bar-directive>
</div>
