<div class="container">
    <digital-receipt-landing-directive notification-control="landingPageController.notificationControl" coupons-service-data="landingPageController.couponsServiceData" display-progress-bar="landingPageController.displayProgressBar(display, actionedCoupon)" reset-collapse-state-for-all="landingPageController.resetCollapseStateForAll()"></digital-receipt-landing-directive>
    <view-all-coupons-directive notification-control="landingPageController.notificationControl" coupons-service-data="landingPageController.couponsServiceData" display-progress-bar="landingPageController.displayProgressBar(display, actionedCoupon)" reset-collapse-state-for-all="landingPageController.resetCollapseStateForAll()"></view-all-coupons-directive>
    <br>
    <progress-bar-directive></progress-bar-directive>
</div>
