<!--Desktop progress bar-->
<div ng-show="progressBarController.configuration.DISPLAY_PROGRESS_BAR">

    <div ng-show="progressBarController.screenMode.desktop">
        <div id="desktop-progress-bar" class="full-width-black-background progress-bar-section" ng-if="progressBarController.configuration.DISPLAY_PROGRESS_BAR" ng-show="progressBarController.progressBarServiceData.display">
            <div class="container">
                <div class="white-text pad-top">
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.dollarSavingsDirective">
                        <dollar-savings-directive></dollar-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.dollarAndPercentSavingsDirective">
                        <dollar-and-percent-savings-directive></dollar-and-percent-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.singlePercentSavingsDirective">
                        <single-percent-savings-directive></single-percent-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.multiPercentSavingsDirective">
                        <multi-percent-savings-directive></multi-percent-savings-directive>
                    </div>

                    <div class="green-text pull-right text-size-uniform pad-left"> <strong>{{progressBarController.progressBarServiceData.totalCoupons}}</strong>
                    </div>
                    <div class="progress smaller-width pull-right grey-background">
                        <div id="progressBar" class="progress-bar active progress-bar-colour slight-delay black-text" role="progressbar" aria-valuemin="0" aria-valuenow="{{progressBarController.progressBarServiceData.progressBarValue}}" aria-valuemax="100" style="width:{{progressBarController.progressBarServiceData.progressBarValue}}%;"><strong>{{progressBarController.progressBarServiceData.actionedLength}}</strong>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!--Tablet progress bar-->
    <div ng-show="progressBarController.screenMode.tablet">
        <div id="tablet-progress-bar" class="full-width-black-background progress-bar-section" ng-if="progressBarController.configuration.DISPLAY_PROGRESS_BAR" ng-show="progressBarController.progressBarServiceData.display">
            <div class="container">
                <div class="white-text pad-top">
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.dollarSavingsDirective">
                        <dollar-savings-directive></dollar-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.dollarAndPercentSavingsDirective">
                        <dollar-and-percent-savings-directive></dollar-and-percent-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.singlePercentSavingsDirective">
                        <single-percent-savings-directive></single-percent-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.multiPercentSavingsDirective">
                        <multi-percent-savings-directive></multi-percent-savings-directive>
                    </div>


                    <div class="green-text pull-right text-size-uniform pad-left"><strong class="text-size-uniform pad-left">{{progressBarController.progressBarServiceData.totalCoupons}}</strong>


                    </div>
                    <div class="progress smaller-width pull-right grey-background">
                        <div id="progressBar" class="progress-bar active progress-bar-colour slight-delay black-text" role="progressbar" aria-valuemin="0" aria-valuenow="{{progressBarController.progressBarServiceData.progressBarValue}}" aria-valuemax="100" style="width:{{progressBarController.progressBarServiceData.progressBarValue}}%;">
                            {{progressBarController.progressBarServiceData.actionedLength}}
                        </div>

                    </div>

                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>




    <!--Mobile progress bar-->
    <div id="mobile-progress-bar" ng-show="progressBarController.screenMode.mobile">
        <div class="full-width-black-background progress-bar-section" ng-if="progressBarController.configuration.DISPLAY_PROGRESS_BAR" ng-show="progressBarController.progressBarServiceData.display">
            <div class="container">
                <div class="white-text pad-top">

                    <div ng-show="progressBarController.progressBarServiceData.savingsText.dollarSavingsDirective">
                        <dollar-savings-directive></dollar-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.dollarAndPercentSavingsDirective">
                        <dollar-and-percent-savings-directive></dollar-and-percent-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.singlePercentSavingsDirective">
                        <single-percent-savings-directive></single-percent-savings-directive>
                    </div>
                    <div ng-show="progressBarController.progressBarServiceData.savingsText.multiPercentSavingsDirective">
                        <multi-percent-savings-directive></multi-percent-savings-directive>
                    </div>
                    <div class="white-text pull-right">

                    </div>
                    <div>
                        <div class="green-text pull-right text-size-uniform pad-left">{{progressBarController.progressBarServiceData.totalCoupons}}</div>

                        <div class="progress mobile-width grey-background">

                            <div id="progressBar" class="progress-bar active progress-bar-colour slight-delay black-text" role="progressbar" aria-valuemin="0" aria-valuenow="{{progressBarController.progressBarServiceData.progressBarValue}}" aria-valuemax="100" style="width:{{progressBarController.progressBarServiceData.progressBarValue}}%;">
                                {{progressBarController.progressBarServiceData.actionedLength}}

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
