<div id="pl-prototype">

    <div class="spinnerContainer">
        <spinner class="spinner" show="landingPageController.showSpinner" img-src="assets/images/spinner.gif"></spinner>
    </div>

    <section class="section-intro">
        <div class="container">
            <div class="row">
                <div ng-show="landingPageController.configuration.landingPage.DISPLAY_CAMPAIGN_LANDING">
                    <div class="col-sm-14 col-md-16">
                        <campaign-landing-directive view-control="landingPageController.primaryViewControl" screen-mode="landingPageController.screenMode" display-progress-bar="landingPageController.displayProgressBar(display, actionedCoupon)" reset-collapse-state-for-all="landingPageController.resetCollapseStateForAll()">
                        </campaign-landing-directive>
                        <p class="intro__help">Questions? Get <a ng-click="landingPageController.openHelpModal()">help here</a>.
                            <br>Didn’t find your answer through the link? Please call ExtraCare Customer Service at <strong>1-800-746-7278</strong>.</p>
                    </div>
                </div>
                <div class="col-sm-10 col-md-8">
                    <bcc-content-directive ng-show="landingPageController.configuration.landingPage.DISPLAY_BCC" class="noMobileView">
                    </bcc-content-directive>
                </div>
            </div>
        </div>
    </section>

    <section class="section-divider">
        <div class="container">
            <div class="row">
                <div class="col-sm-24">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>

    <view-all-coupons-directive view-control="landingPageController.secondaryViewControl" screen-mode="landingPageController.screenMode" display-progress-bar="landingPageController.displayProgressBar(display, actionedCoupon)" reset-collapse-state-for-all="landingPageController.resetCollapseStateForAll()"></view-all-coupons-directive>
    <br>
    <progress-bar-directive></progress-bar-directive>

</div>
