<div>
    <div ng-show="viewAllCouponsController.viewControl.display">

        <!-- UNACTIONED COUPONS-->
        <section class="section-coupons section-coupons--new bg-white">
            <div class="container">
                <div ng-show="viewAllCouponsController.configuration.DISPLAY_UNACTIONED_COUPONS">
                    <div class="row">
                        <div class="col-sm-24">
                            <h1 class="section__title">New! <br>Act on these deals now!</h1>
                            <h2 class="section__subtitle">Simply send them to your card.</h2>
                            <div class="coupon-grid">

                                <div ng-repeat="coupon in viewAllCouponsController.couponsServiceData.unactionedCoupons" class="coupon-grid__item">
                                    <coupon-block-directive screen-mode="viewAllCouponsController.screenMode" coupon="coupon" coupon-button="viewAllCouponsController.couponButton" configuration="viewAllCouponsController.configuration" screen-mode="viewAllCouponsController.screenMode" on-send-single-coupon="viewAllCouponsController.sendSingleCoupon()" extra-care-card-number-end-digits="{{viewAllCouponsController.extraCareCardNumberEndDigits}}" clicked-view-details="viewAllCouponsController.clickedViewDetails()" show-progress-bar="viewAllCouponsController.showProgressBar(display, actionedCoupon)">
                                    </coupon-block-directive>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ACTIONED COUPONS-->
        <section class="section-coupons section-coupons--deals bg-blue-light1">
            <div class="container">
                <div ng-show="viewAllCouponsController.configuration.DISPLAY_ACTIONED_COUPONS" class="panel-body nopadding">
                    <div class="row">
                        <div class="col-sm-24">
                            <h1 class="section__title">Offers Ready to Use</h1>
                            <div class="coupon-grid">

                                <div ng-repeat="coupon in viewAllCouponsController.couponsServiceData.actionedCoupons" class="coupon-grid__item">
                                    <coupon-block-directive screen-mode="viewAllCouponsController.screenMode" coupon="coupon" coupon-button="viewAllCouponsController.couponButton" configuration="viewAllCouponsController.configuration" screen-mode="viewAllCouponsController.screenMode" on-send-single-coupon="viewAllCouponsController.sendSingleCoupon()" extra-care-card-number-end-digits="{{viewAllCouponsController.extraCareCardNumberEndDigits}}" clicked-view-details="viewAllCouponsController.clickedViewDetails()" show-progress-bar="viewAllCouponsController.showProgressBar(display, actionedCoupon)">
                                    </coupon-block-directive>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
