/*-----------View Details--------*/

.expanded-div-style {
    padding: 15px 20px 10px 20px;
    border-top: none;
}
.overlay {
    position: relative;
    z-index: 10;
    background-color: white;
    margin: 0px -1px;
    padding: 15px 20px 10px 20px;
}

/*-------------Remember Me Cookie & BCC--------------*/

.bcc {
    border: thick;
    border-color: black;
    border-style: groove;
    width: 100%;
}
.remember-me-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.success {
    padding-left: 80px;
    padding-right: 80px;
}
.remember-me-border {
    border: 1px solid;
    border-color: #DDD;
    padding: 10px 15px;
    margin-right: 15px;
    margin-top: 25px;
}
.remember-me-success-border {
    border: 1px solid;
    border-color: #66FF99;
    padding: 10px 15px;
    margin-right: 15px;
    margin-top: 25px;
}
.full-width-red-button {
    background-color: red;
    display: inline;
}
.pad-remember-me {
    padding-left: 30px;
    padding-right: 30px;
}

/*-------------Spinner--------------*/

.spinner {
    position: absolute;
    left: 50%;
    margin-left: -56px;
    z-index: 3
}
.spinnerContainer {
    position: absolute;
    left: 50%;
    top: 250px;
}

/*--------------Flip Animation------------------------------*/

.flip-container {
    perspective: 1000;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

/*-----------------Progress Bar Styling-------------------*/

.pad-left {
    padding-left: 10px;
}
.pad-top {
    padding-top: 20px;
}
.text-red {
    color: #cc0000;
}
.top-align {
    vertical-align: top;
}
.red-with-white-text {
    align-content: stretch;
    width: 200px;
    height: 10px;
    border-top: 32px solid #D10000;
    border-bottom: 32px solid #D10000;
    border-right: 15px solid transparent;
}
.accordion-header:hover {
    text-decoration: underline;
    cursor: pointer;
}
.grey-background {
    background-color: #FAFAFA;
}
.right-aligned {
    text-align: right;
}
.smaller-width {
    width: 400px;
    height: 24px;
    margin-left: 8px;
}
.mobile-width {
    width: 260px;
    height: 30px;
}
.progress-bar {}
.progress-bar-colour {
    background-color: #41C1B3;
}

/* The starting CSS styles for the enter animation */

.slight-delay {
    transition: 1s linear all 0.10s;
}
.progress-bar-section.ng-enter {
    transition: 1s linear all 1s;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */

.progress-bar-section.ng-enter.ng-enter-active {
    transition: 1s linear all 1s;
    opacity: 0.8;
}
.progress-bar-section.ng-show.ng-show-add-active {
    transition: 1s linear all 1s;
    opacity: 0.8;
}
.progress-bar-section.ng-show.ng-show-remove {
    transition: 1s linear all 1s;
    opacity: 0.8;
}
.progress-bar-section.ng-show.ng-show-add {
    transition: 1s linear all 1s;
    opacity: 0.8;
}
.full-width-black-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #3C3C3C;
}
.grey-background {
    background-color: #6F6F6F;
}

/*------------Help Modal ------------------------------*/

.helpmodal {
    background-color: #fff;
    font-size: 12px;
    line-height: 16px;
    color: #585858;
    font-family: Helvetica, Arial, sans-serif;
}
#promocontent a {
    text-decoration: underline;
    cursor: pointer;
    color: #585858;
}
#promocontent a:hover {
    text-decoration: underline;
    color: #585858;
}
.promoTextred {
    color: #CC0000;
}
.promoBodycopy20 {
    font-size: 1.667em;
}
.promoBold {
    font-weight: bold;
}
.clear {
    clear: both;
}

/*-----------------Fonts & Colours------------------------------*/

p {
    margin-top: 4px;
    margin-bottom: 4px
}
.medium {
    margin-top: 10px;
    margin-bottom: 10px
}
.large {
    margin-top: 15px;
    margin-bottom: 15px
}
.medium-font {
    font-size: medium;
}
.bigger-font {
    font-size: xx-large;
    font-stretch: ultra-expanded;
}
.white-text {
    color: #ffffff;
}
.green-text {
    color: #41C1B3;
}
.black-text {
    color: black;
}
.grey-text {
    color: #CBD6D9;
}
.half-size-font {
    font-size: 50%;
}
.smaller-font {
    font-size: 85%;
}
.enormous-text {
    font-size: 25px;
}
.text-size-uniform {
    font-size: larger;
}

/*----------------Other-----------------------------*/

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
body.modal-open {
    overflow: hidden;
}
.printmodal {
    padding: 50px;
}
.printcoupon {
    border: 2px solid grey;
    padding: 30px;
}
.errorModalPadding {
    padding: 10px;
}
@media screen and (max-width:768px) {
    .noMobileView {
        display: none;
    }
}
@media print {}

}
