
<div class="helpmodal" id="promocontent" style="padding:9px;">
    
<button type="button" class="close" ng-click="viewAllCouponsController.closeHelpModal()">&times;</button>
    
    <div class="floatLeft"><span class="promoBodycopy20 promoTextred promoBold"><br />ExtraCare Coupon Frequently Asked Questions</span></div>

	<div class="clear"></div>
	<div class="spacer"></div>

    <p><br /><strong><span class="promoTextred">Q.</span> How can I view all of the  coupons available to me?</strong></p>
    <p><strong>A.</strong> You can manage all your ExtraCare rewards in your CVS.com account. Just sign in and make sure your card is attached to your account. Click on the ExtraCare card at the top of the page to get started. You can also check the bottom of your receipt on your next trip to CVS/pharmacy or scan you card at the <a href="http://www.cvs.com/promo/promoLandingTemplate.jsp?promoLandingId=extracare-coupon-center" target="_blank">ExtraCare Coupon Center</a></p>

    <p><strong><span class="promoTextred">Q.</span> Will the coupon that I sent  to my card work in the store when I use my phone number?</strong></p>
    <p><strong>A.</strong> Yes, once a coupon has been sent to your card, you can give the store associate your phone number when you checkout, and your coupons can be applied.</p>

    <p><strong><span class="promoTextred">Q.</span> I selected the option to  print the coupon from my printer, but I changed my mind.&nbsp; Can I send it to  my card instead?</strong></p>
    <p><strong>A.</strong> No, Once you&rsquo;ve clicked on the Print button, you can&rsquo;t send the coupon to your card.</p>

    <p><strong><span class="promoTextred">Q.</span> What happens if multiple  coupons are on my card will all of them redeem at once?</strong></p>
    <p><strong>A.</strong> Yes, If all purchase criteria has been met in that transaction multiple coupons can be used. If only part of the purchase criteria has been met for multiple offers, the coupon with the highest value may be applied.</p>

    <p><strong><span class="promoTextred">Q.</span> I printed the coupon, but then I lost it. Can  I go back and send the offer to my card?</strong></p>
    <p><strong>A.</strong> No, Once a coupon has been printed, it cannot be sent to your card.</p>

    <p><strong><span class="promoTextred">Q.</span> Once it is loaded to my  card, how long will I have to use the coupon before it expires?</strong></p>
    <p><strong>A.</strong> The expiration date varies by individual coupon.</p>

    <p><strong><span class="promoTextred">Q.</span> I did load the offer to my  card but when I got to the store, it did not work.&nbsp; How can I show the  cashier that I have the coupon on my card?</strong></p>
    <p><strong>A.</strong> If  the coupon is still valid, you can print a summary of your sent to card  activity at the <a href="http://www.cvs.com/promo/promoLandingTemplate.jsp?promoLandingId=extracare-coupon-center" target="_blank">ExtraCare Coupon Center</a>. If the coupon is still valid, check to see that  the purchase criteria has been met, e.g. $4 off $20 coupon, the transaction  total must be a minimum of $20.</p>

    <p><strong><span class="promoTextred">Q.</span> I sent all of the coupons to my card and now I can't  find my card - what should I do?</strong></p>
    <p><strong>A.</strong> You can provide the store associate with your phone number when you checkout in place of your ExtraCare card. The valid coupons are then available to apply to your purchase.</p>

    <p><strong><span class="promoTextred">Q.</span> Are there different ways in which I can send coupons  to my ExtraCare card?</strong></p>
    <p><strong>A.</strong> Yes, if you have provided your Email address with your ExtraCare information, you will receive coupons via Email that can be  sent to your card or you can send coupons to your card via your CVS.com account. </p>
<p>For more information, call 1-800-SHOP CVS.</p>

</div>
