<div>
    <div style="position: absolute; left: 50%; top: 250px;">
        <spinner name="bookspinner" show="digitalReceiptLandingController.showSpinner" img-src="images/spinner.gif" style="position: relative; left: -50%; z-index: 3;"></spinner>
    </div>

    <div ng-show="digitalReceiptLandingController.viewControl.display">
        <ng-include src="digitalReceiptLandingController.viewControl.path"></ng-include>
    </div>
    <div ng-hide="digitalReceiptLandingController.viewControl.display"></div>
</div>