<div class="shaded padded-left panel-body float-right" ng-hide="bccController.cookieHasAlreadyBeenCreated();">

    <button ng-click="bccController.createRememberMeCookie(); bccController.hideRememberMeButton();" ng-hide="bccController.cookieHasAlreadyBeenCreated();">
        Remember Me</button>
</div>

<div class="red-background padded-left panel-body float-right" ng-show="bccController.cookieHasAlreadyBeenCreated();">BCC Section which only shows when the Remember Me cookie is in existence.</div>
