<div ng-controller="CouponsController as couponsController">
    <hr>
    <h4>You have {{couponsController.notYetActionedCoupons.length}} more offers available. Act on these now!</h4>
    <br>


    <!--NOT YET ACTIONED COUPONS-->
    <div class="panel-body nopadding">
        <div ng-repeat="coupon in couponsController.notYetActionedColumns">
            <div ng-if="$index%(couponsController.couponsPerRow)==0" class="row nopadding">
                <div class="col-sm-6 col-md-4 nopadding" ng-repeat="i in couponsController.getIndexNumber($index) track by $index">
                    <coupon-directive coupon={{couponsController.notYetActionedColumns[i]}} un-sent-coupon-path="{{ couponsController.unSentCouponPath }}" sent-coupon-path="{{ couponsController.sentCouponPath }}" send-coupon-on-startup="{{false}}" on-send-coupon-to-card="couponsController.sendCouponToCard()" printed-path={{couponsController.couponPrinted}}>
                    </coupon-directive>
                </div>
            
            </div>
        </div>
    </div>

    <!--READY TO USE COUPONS-->
    <div class="panel-body nopadding">
        <h4>Offers Ready to Use</h4>
        <br>
        <div class="col-sm-6 col-md-4 nopadding" ng-repeat="coupon in couponsController.readyToUseColumns">
            <coupon-directive coupon={{coupon}} un-sent-coupon-path="{{ couponsController.unSentCouponPath }}" sent-coupon-path="{{ couponsController.sentCouponPath }}" send-coupon-on-startup="{{ false }}" on-send-coupon-to-card="couponsController.sendCouponToCard()" printed-path={{couponsController.couponPrinted}}>
            </coupon-directive>
        </div>
    </div>


</div>
