<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">

            <div ng-switch on="state">
                <div ng-switch-when=0>
                    <img ng-click="sendCouponToCard();" ng-src="{{unSentCouponPath}}">
                    <!--updateState();-->
                </div>
                <div ng-switch-when=1 class="enter">
                    <img ng-src="{{sentCouponPath}}">
                </div>
                <div ng-switch-when=2>
                    <img ng-src="{{printedPath}}">
                </div>
            </div>
            <br>
            <br>
            <div class="pull-right" ng-controller="PrintCouponModalController">
                <img ng-hide="isHidden" id="printofferdiv" data-toggle="modal" ng-click="open()" src="images/printicon.png" height="30px" width="80px" />
            </div>



        </div>

        <div class="pull-right"><img src="images/dashedline.png" </img></div>

        <p>
            <h4 class="">{{ title }}</h4> {{ description }}
            <br>EXP {{ expiry }}
            <br>
            <div ng-if="expiresSoon">
                EXPIRES SOON
            </div>
        </p>


        <p>
            <br>
            <br>
            <strong><div ng-click="collapseSection()" class="accordion-header"><span ng-class="{'glyphicon glyphicon-chevron-down' : !isCollapsed, 'glyphicon glyphicon-chevron-right' : isCollapsed}"></span>View Details</div></strong>
        </p>
        <div collapse="isCollapsed" class="expanded-div-style overlay" ng-class="!isCollapsed ? 'thick-border' : '' ">
            <small>
                <p>Coupon redeemable in store only*</p>
                <p><b>Valid through:</b><b class="text-red"> {{ expiry }} </b>
                <br/>
                    <b>Barcode/coupon code:</b><b class="text-red"> {{ barcode }} </b></p>
                <p><b>Terms & Conditions: </b>{{ terms }}</p>
            </small>
        </div>



    </div>
</div>
