<div class="panel panel-default couponpadding">
    <div class="panel-body nopadding">
        <div class="pull-right text-center">

            <div ng-switch on="state">
                <div ng-switch-when=0>
                    <img ng-click="clickSendCouponToCard();" ng-src="{{unSentCouponPath}}">
                    <!--updateState();-->
                </div>
                <div ng-switch-when=1 class="enter">
                    <img ng-src="{{sentCouponPath}}">
                </div>
                <div ng-switch-when=2>
                    <img ng-src="{{printedPath}}">
                </div>
            </div>
            <br>
            <div ng-controller="PrintCouponModalController" class="float-down">
                <img ng-hide="isHidden" src="images/printer.png" height="20px" width="20px" />
                <a ng-hide="isHidden" id="printofferdiv" data-toggle="modal" ng-click="open()">Print</a>
            </div>
            
        </div>
        <div class="pull-right"><img src="images/dashedline.png" </img></div>

        <p>
            <h4 class="">{{ title }}</h4> {{ description }}
            <br>


            <br>
            <div>
                <span ng-show="expiresSoon" class="glyphicon glyphicon-exclamation-sign" style="color:red"></span><strong ng-show="expiresSoon"> SOON</strong> EXP {{ expiry }} 
            </div>

        </p>


        <div ng-show="!expiresSoon"> EXP {{ expiry }} </div>
        <p>


            <p>
                <strong><div ng-click="collapseSection()" class="accordion-header"><span ng-class="{'glyphicon glyphicon-chevron-down' : !isCollapsed, 'glyphicon glyphicon-chevron-right' : isCollapsed}"></span> View Details</div></strong>
            </p>

            <div collapse="isCollapsed" class="expanded-div-style overlay" ng-class="!isCollapsed ? 'thick-border' : '' ">
                <small>
                <p>Coupon redeemable in store only*</p>
                <p><b>Valid through:</b><b class="text-red"> {{ expiry }} </b>
                <br/>
                    <b>Barcode/coupon code:</b><b class="text-red"> {{ barcode }} </b></p>
                <p><b>Terms & Conditions: </b>{{ terms }}</p>
            </small>
            </div>
    
        
            


    </div>
</div>
