<div class="panel panel-default couponpadding" ng-class="{'border-yellow' : isReadyToUse }">
    <div class="panel-body coupon-leftside">
        <div class="text-center coupon-rightside" ng-class="{'border-yellow' : isReadyToUse }">

            <div ng-switch on="coupon.state" class="nopadding">
                <div ng-switch-when=0>
                    <img class="img-alt-size" ng-click="clickSendCouponToCard(); updateState();" ng-src="{{unSentCouponPath}}">
                </div>
                <div ng-switch-when=1>
                    <img ng-src="{{sentCouponPath}}">
                </div>
                <div ng-switch-when=2>
                    <img class="img-size" ng-src="{{printedPath}}">
                </div>
            </div>
            <div ng-controller="PrintCouponModalController as printCouponModalController" class="desktoponly print-button">
                <img ng-hide="isHidden" src="images/printer.png" height="20px" width="20px" />
                <a ng-hide="isHidden" id="printofferdiv" data-toggle="modal" ng-click="printCouponModalController.open()">Print</a>
            </div>

        </div>

      <p>
      <h4>
        <font color = "red" class = "bigger-font">
          <sup class="medium-font" ng-show="coupon.showDollarSign">$</sup><strong class = "bigger-font">{{coupon.dollar}}</strong><sup ng-show="coupon.showPercentSign">%</sup><sup class = "medium-font" ng-hide="coupon.dontShowCents"><strong>{{coupon.cents}}</b></strong></sup><strong class="half-size-font"> off</strong></font><br>
      </h4>
      {{coupon.cpn_dsc}}

            <br>
            <div ng-show="coupon.expiresSoon">
              <br>
                <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span><strong> SOON</strong> EXP {{ coupon.expir_dt }}

              <br>
            </div>

            <div ng-show="coupon.isNew">
              <br>
                <span class="glyphicon glyphicon-star" style="color:red"></span><strong> NEW! </strong> EXP {{ coupon.expir_dt }}
            </div>

        </p>

        <div ng-show="!coupon.expiresSoon && !coupon.isNew"> EXP {{ coupon.expir_dt }} </div>
        <p>

            <strong><div ng-click="collapseSection()" class="accordion-header"><span ng-class="{'glyphicon glyphicon-chevron-down' : !coupon.isCollapsed, 'glyphicon glyphicon-chevron-right' : coupon.isCollapsed}"></span> View Details </div></strong>
            <br>

    </div>






    <div collapse="coupon.isCollapsed" class="overlay hide-top thick-border" ng-class="{'border-grey': !isReadyToUse, 'border-yellow' : isReadyToUse }">
        <div class="expanded-div-style">
            <small>
                <p>Coupon redeemable in store only*</p>
                <p><b>Valid through:</b><b class="text-red"> {{ coupon.expir_dt }} </b>
                <br/>
                    <b>Barcode/coupon code:</b><b class="text-red"> {{ coupon.cpn_seq_nbr }} </b></p>
                <p><b>Terms & Conditions: </b>{{ coupon.cpn_terms_txt }}</p>
            </small>
        </div>
    </div>
</div>
