<h4>Success! Your deal is available on your ExtraCare card</h4>

<p>Redeeming is easy. Just present your ExtraCare card to the associate when you check out.</p>

<div ng-controller="CouponsCtrl as couponsController">
    <div class="row">
        <div class="panel-body">
            <br>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <coupon-directive 
                     title="{{ couponsController.clickedCoupon.title }}"    
                     description="{{ couponsController.clickedCoupon.cpn_dsc }}" 
                     expiry="{{ couponsController.clickedCoupon.expir_dt }}" 
                     barcode="{{ couponsController.clickedCoupon.cpn_seq_nbr }}" 
                     terms="{{ couponsController.clickedCoupon.cpn_terms_txt }}"                 
                     un-sent-coupon-path="{{ couponsController.unSentCouponPath }}" 
                     sent-coupon-path="{{ couponsController.sentCouponPath }}" 
                     send-coupon-on-startup="{{ true }}" 
                     on-send-coupon-to-card="couponsController.sendCouponToCard()">
                </coupon-directive>
            </div>
        </div>
    </div>
</div>
