<h4>Send the other deals to your card now!</h4>

<div ng-controller="CouponsCtrl as coupons">
    <div class="container">
        <div class="row">
            <br>
            <div ng-repeat="coupon in coupons.allCoupons">
                <div coupon-directive title="{{ coupon.title }}" description="{{ coupon.description }}" expiry="{{ coupon.expiry }}" un-Sent-Coupon-Path="{{ coupons.unSentCouponPath }}" sent-Coupon-Path="{{ coupons.sentCouponPath }}" on-Send-Coupon-To-Card="coupons.sendCouponToCard()"></div>

            </div>
        </div>
    </div>
</div>
