<div class="full-width-black-background progress-bar-section" ng-if="true">
  <div class="container padded-top text-size-uniform">
    <div class="white-text">More Offers <p class="pull-right white-text">{{couponsController.couponsServiceData.unactionedCoupons.length + couponsController.couponsServiceData.actionedCoupons.length}}
      Offers Available
      <br>
      <i class="shmedium-font more-padding-right">That's over $ {{couponsController.couponsServiceData.unactionedSavings + couponsController.couponsServiceData.actionedSavings }} in savings!</i></b></p>
    </div>
    <br>
    <h5 class="white-text medium-text">You have {{couponsController.couponsServiceData.unactionedCoupons.length}} more offers available. Act on these offers now!
      <div class="white-text pull-right">On Your Card / Printed <div class="white-text pull-right pad-right"> {{couponsController.couponsServiceData.unactionedCoupons.length + couponsController.couponsServiceData.actionedCoupons.length}}</div><div class="progress smaller-width pull-right">
        <div id="progressBar" class="progress-bar active progress-bar-colour slight-delay" role="progressbar" aria-valuemin="0" aria-valuenow="{{couponsController.progressBarValue}}" aria-valuemax="100" style="width:{{couponsController.progressBarValue}}%;">{{couponsController.actionedLength}}
       </div>

      </div>

<br><i class="shmedium-font pull-right">That's over $ {{couponsController.couponsServiceData.actionedSavings}} in savings!</i>
  <br>
      <br>
    </div>
      </h5>
    </div>
  </div>
</div>
