<div>
    <div ng-hide="singleCouponController.couponError">
        <div class="row nopadding">
            <div ng-show="singleCouponController.showSingleCoupon" class="col-xs-12 col-sm-6 col-md-8 nopadding">
                <h2 class="red-text">Success!</h2>
                <h5>The coupon loaded on your ExtraCare card ending in {{singleCouponController.extraCareCardNumberEndDigits}} and is ready to use.</h5>
                <h6>Just present your ExtraCare card to the associate when you check out</h6>
            </div>
        </div>
        <div class="row nopadding" style="display: flex;">
            <br>
            <div ng-show="singleCouponController.showSingleCoupon" class="col-xs-12 col-sm-6 col-md-4 nopadding" ng-repeat="coupon in singleCouponController.couponsServiceData.singleCoupon">
                <coupon-block-directive coupon="coupon" coupon-button="singleCouponController.couponButton" auto-send-single-coupon="{{singleCouponController.autoSendSingleCoupon}}" extra-care-card-number-end-digits="{{singleCouponController.extraCareCardNumberEndDigits}}" on-send-single-coupon="singleCouponController.sendSingleCoupon()" on-reset-collapse-state-for-all="singleCouponController.resetCollapseStateForAll()" show-progress-bar="singleCouponController.showProgressBar(display, actionedCoupon)"></coupon-block-directive>
            </div>

            <bcc-area-directive ng-show="singleCouponController.showBCC" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4" style="display: flex;">
            </bcc-area-directive>
        </div>
    </div>
    <div>
        <div ng-show="singleCouponController.couponError">
            <ng-include src="singleCouponController.errorPath"></ng-include>
        </div>
    </div>
    <br>
</div>
