<div sticky offset="50" media-query="min-width: 920px" class="col-lg-3 col-md-4 pull-right sticky text-centre">
    <br>
    <p class="circle">
        <br>{{counter}}</p>

    <h4>Deals Sent To Card</h4>
    <p> That's over ${{total}} in savings!</p>

    <!-- <button type="submit" class="btn-success btn-lg btn-block" data-toggle="modal" data-target="#printModal">Print</button>-->
    <br> See a full list of Savings at
    <br>
    <a href="www.cvs.com">My Savings & Rewards ></a>

    <br>
</div>
