
<div class="full-width">
    <div class="container">
        <br>
        <h4>You have {{couponsController.unactionedCoupons.length}} more offers available. Act on these now!</h4>
        <br>
        <!--NOT YET ACTIONED COUPONS-->
        <div class="panel-body nopadding">
            <div ng-repeat="coupon in couponsController.unactionedCoupons">
                <div ng-if="$index%(couponsController.getCouponsPerRow())==0" class="row nopadding" style="display: flex;">
                    <div class="col-xs-12 col-sm-6 col-md-4 nopadding" ng-repeat="i in couponsController.getRowIndexNumbers($index, 'unactioned') track by $index" style="display: flex;">
                        <coupon-directive class="col-xs-12" coupon="couponsController.unactionedCoupons[i]" un-sent-coupon-path="{{ couponsController.unSentCouponPath }}" sent-coupon-path="{{ couponsController.sentCouponPath }}" send-coupon-on-startup="{{false}}" on-send-coupon-to-card="couponsController.sendCouponToCard()" printed-path={{couponsController.couponPrinted}} extra-care-card-number-end-digits="{{couponsController.extraCareCardNumberEndDigits}}" on-reset-collapse-state-for-all="couponsController.resetCollapseStateForAll()">
                        </coupon-directive>
                    </div>
                </div>
            </div>
        </div>

        <!--READY TO USE COUPONS-->
        <div class="panel-body nopadding">
            <h4>Offers Ready to Use</h4>
            <br>
            <div ng-repeat="coupon in couponsController.actionedCoupons">
                <div ng-if="$index%(couponsController.getCouponsPerRow())==0" class="row nopadding" style="display: flex;">
                    <div class="col-xs-12 col-sm-6 col-md-4 nopadding" ng-repeat="i in couponsController.getRowIndexNumbers($index, 'actioned') track by $index" style="display: flex;">
                        <coupon-directive class="col-xs-12" coupon="couponsController.actionedCoupons[i]" un-sent-coupon-path="{{ couponsController.unSentCouponPath }}" sent-coupon-path="{{ couponsController.sentCouponPath }}" send-coupon-on-startup="{{false}}" on-send-coupon-to-card="couponsController.sendCouponToCard()" printed-path={{couponsController.couponPrinted}} extra-care-card-number-end-digits="{{couponsController.extraCareCardNumberEndDigits}}" on-reset-collapse-state-for-all="couponsController.resetCollapseStateForAll()">
                        </coupon-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
